[class*=-block-container]{
  @include base-padding;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  width: calc(100% - 245px);
}

@keyframes fade-in{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@keyframes fade-out{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

hr{
  border: none;
  border-bottom: 1px solid $white-med;
}


/*-----------------------
Card
-----------------------*/
.card{
  background-color: $white-base;
  border-radius: 2px;
  border: $grey-border;
  @include rem(padding, 20px);

  @include media($tablet){
    @include rem(padding, 40px);
  }

  &.adjust-padding{
    @include rem(padding, 3px 20px 20px);

    @include media($tablet){
      @include rem(padding, 23px 40px 40px);
    }
  }
}


/*-----------------------
Content
-----------------------*/
.content{
  display: inline-block;
  @include animation(fade-in 0.5s ease-in);
  margin-top: $desktop-nav-height;
  position: relative;
  width: 100%;

  .header-content{
    @include rem(padding, 0px);

    @include media($tablet){
      @include rem(padding, 0px);
    }
  }


 .header-block-container{
    @include rem(padding, 12px 20px);

    @include media($tablet){
      @include rem(padding, 20px 30px);
    }

    fieldset{
      margin-bottom: 0px;

      select{
        background-color: $white-med;
      }
    }
  }

  .content-block-container, .header-block-container{
    display: block;
    @include outer-container;
    margin: 0 auto;
    width: 100%;
  }

  .content-block-container{
    .card:not(:first-child){
      @include rem(margin-top, 30px);
    }
  }

  &.with-sidebar{
    margin-left: 80px;
    width: calc(100% - 80px);

    .header-content{
      //@include rem(padding, 12px 30px);
      width: 100%;
    }

    .content-block-container{
      width: 100%;

      .card{
        max-width: 850px;
      }
    }
  }

  &.centered{
    margin-top: $desktop-nav-height;
    padding: 20px;

    .card{
      @include center;
      max-width: 600px;
      @include rem(margin, 30px auto 20px);
    }
  }

  &.no-sidebar{
    margin-left: 0px;
    width: 100%;

    .card{
      @include center;
      max-width: 600px;
    }
  }
}



/*-----------------------
Centered Block
-----------------------*/

.centered-block.card{
  @include center;
  max-width: 400px;
  text-align: center;

  img{
    @include rem(margin-bottom, 10px);
    max-width: 100px;
  }
}


/*-----------------------
Survey Administration
-----------------------*/



/*-----------------------
Card with Header
-----------------------*/
.content.with-sidebar .content-block-container .card{
  &.with-header{
    max-width: 100%;
  }
}

.with-stats{
  .card-header{
    margin-bottom: 25px;
  }
}

.card{
  &.with-header{
    @include rem(padding, 0px);

    .card-header{
      border-bottom: 1px solid $white-med;
      @include rem(padding, 15px 20px);

      h5{
        margin-bottom: 0px;
      }
    }

    .card-inner{
      @include rem(padding, 20px);
    }
  }
}
