.tablet{
  .centered{
    .card{
      max-width: 900px;

      form{
        @include rem(margin-top, 30px);
      }


      input, p, .button-primary, a, label{
        @include s-big;
      }

      span{
        @include s-base;
      }

      .button-primary{
        @include rem(padding, 18px);
        min-width: 300px;

        &.in-progress{
          &:after{
            height: 30px;
            margin: 0 calc((100% - 62px)/2);
            top: 25px;
            width: 30px;
          }
        }
      }

      hr{
        @include rem(margin, 20px 0px);
      }

      .footnote, .footnote a{
        @include s-base;
        max-width: 600px;
        line-height: 1.5;
      }
    }
  }
}